<div class="component">
  <div class="nav justify-content-between mt-5">
    <h2>Job status details</h2>
  </div>
  <table class="table table-light table-bordered table-hover table-responsive text-nowrap mt-4">
    <thead>
      <tr class="table-dark">
        <th>Date & time</th>
        <th>Status</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of jobStatusList">
        <td class="col-sm-3">{{item.jobDateTime |  date:'MMM d, yyyy - hh:mm:ss a'}}</td>
        <td class="col-sm-1 text-success" *ngIf="item.outputStatus=='SUCCESS'">{{item.outputStatus}}</td>
        <td class="col-sm-1 text-danger" *ngIf="!(item.outputStatus=='SUCCESS')">{{item.outputStatus}}</td>
        <td>{{item.jobError}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-sm btn-outline-danger btn-reset mb-3" (click)="reset()"></button>