<div class="component">
  <h2 class="mt-5">Add Risk Score Level</h2>
  <form class="mt-4" [formGroup]="addRiskScoreLevelForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Score range (min)</label>
      <div class="col-auto">
        <input type="number" class="form-control" name="id" formControlName="minScore">
        <div class="text-danger" *ngIf="validMinScore?.invalid && validMinScore?.touched">
          <small>Score should be between 0-100</small>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Score range (max)</label>
      <div class="col-auto">
        <input type="number" class="form-control" name="name" formControlName="maxScore">
        <div class="text-danger" *ngIf="validMaxScore?.invalid && validMaxScore?.touched">
          <small>Score should be between 0-100 and more than min score</small>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Level</label>
      <div class="col-auto">
        <input type="text" class="form-control" formControlName="level">
        <div class="text-danger" *ngIf="validLevel?.invalid && validLevel?.touched">
          <small>Level at max be 30 characters</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary my-1" [disabled]="addRiskScoreLevelForm.invalid">Submit</button>
    <button type="button" class="btn btn-danger my-1 mx-2" (click)="navigateToRiskScoreLevelDetails()">Cancel</button>
  </form>
  <div class="alert alert-danger alert-dismissible fade show d-inline-block mt-4" *ngIf="isAlreadyPresent" role="alert">
    <strong>Error!</strong> Another score-level with same name is already present.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>