<div class="component">
  <div class="nav justify-content-between mt-5">
    <h2>Output details</h2>
    <button type="button" class="btn btn-primary" (click)="recalculateOutput()">Re-calculate output</button>
  </div>
  <select class="form-select my-3 company-list" (change)="onCompanySelected($event)">
    <option selected value="no">Select company</option>
    <option *ngFor="let company of companyList" [value]="company">{{company}}</option>
  </select>
  <table class="table table-light table-bordered table-hover text-nowrap my-3">
    <thead>
      <tr class="table-dark">
        <th scope="col">Element name</th>
        <th>Element value</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of values">
        <td>{{item.element}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</div>